body {
    background: linear-gradient(to right, rgb(128, 53, 189), bisque);
}

.tudoprr {
    display: flex;
    
}

.cabecario {
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    width: 20vw;
    max-width: 20vw;
    background: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.resto {
    display: flex;
    justify-self: flex-end;
    font-family: cursive;
    margin: 10;
    padding: 20px;
    width: 80vw;
    max-width: 80vw;;
}

main {
    display: flex;
    gap: 30px;
}

.right {
    display: flex;
    flex-direction: column;
}

input {
    border: solid black 2px;
    border-radius: 8px;
    background: linear-gradient(to bottom right, rgb(0, 255, 255), midnightblue);
    color: whitesmoke;
}

button {
    align-self: center;
    margin-top: 10px;
    font-size: large;
    border-radius: 10px;
    background-color: dimgray;
    color: honeydew;
}

.sacanagem {
    display: flex;
    justify-content: center;
}

.demo {
    color: coral;
    font-size: large;
}

.lista {

    border-left: 5px solid tomato;
}